<footer class="p-3 mt-5 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <%= image_tag("Logo.png", size: "40x40") %>
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to "Home", dash_index_path, class: "nav-link px-2 text-secondary" %></li>
        <li><%= link_to "About", dash_index_path, class: "nav-link px-2 text-white" %></li>
        <li><a class="nav-link px-2 text-white" href="#">Contact</a></li>
      </ul>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form> -->

      <div class="text-end">
        <% unless user_signed_in? %>
          <div class="flex-shrinnk-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">          
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownAccounts">
              <li class=""><%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %></li>
              <li class=""><%= link_to "Login", new_user_session_path, class: "dropdown-item" %></li>
            </ul>
          </div>
        <% else %>
          <div class="flex-shrinnk-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <!-- Style to include profile pic, order details, payment info and spacing -->
                <li class=""><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                <li class=""><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="w-100">
      <% if current_user.nil? %>
        <%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
      <% else %>
        <%= link_to dash_index_path, class: 'login-button' do %>Go to App<% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
      <% end %>
  
      <% if user_signed_in? %>
  
        <%= link_to('Edit registration', edit_user_registration_path) %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  
      <% else %>
  
        <%= link_to('Register', new_user_registration_path)  %>
        <%= link_to('Login', new_user_session_path)  %>  
  
      <% end %>
  
      <span>
          <%= link_to('Settings', "admin#settings") %>
      </span>
    </div>
  </div>

</footer>
